<div class="mobile-footer">

<div class="mobile-footer__social">
    <a class="policy-link" href="../../cookies-policy.html" target="_blank">Cookies Policy</a>
    <a class="policy-link" href="../../privacy-policy.html" target="_blank">Privacy Policy</a>
</div>
