<div class="item-details-header">
  <a class="item-details-header__back-btn" href="{{base_url}}/index.html">← Back Home <span>♫ I'll Spend My Summer</span></a>

  <ul class="header__nav">
    <li><a class="header__nav__patreon-link" href="https://www.patreon.com/beachboyslegacy" target="_blank">Become a Patron</a></li>
    <li><a href="http://twitter.com/beachboyslegacy" target="_blank"><webicon icon="entypo:twitter"></webicon> <span>Follow Beach Boys Legacy on twitter</span></a></li>
  </ul>
</div>
