function elementIsVisible(el) {
    const rect = el.getBoundingClientRect();
    // Look ahead buffer when scrolling. 200px before being visible.
    const bufferMarginPx = 200;

    return (
        rect.top >= bufferMarginPx &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) + bufferMarginPx &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
}

// Find newly visible images and load their images.
function loadVisibleImages() {
    const lazyImages = [
        ...document.getElementsByTagName("img")
    ].filter(img => img.hasAttribute("data-src") && img.src !== img.dataset.src);

    lazyImages
        .filter(img => elementIsVisible(img))
        .forEach(img => img.src = img.dataset.src);
}

// Find all unloaded lazy images and show preloader.
function loadPreloaders() {
    const lazyImages = [
        ...document.getElementsByTagName("img")
    ].filter(img => !img.src && img.hasAttribute("data-src"));

    lazyImages.forEach(img => img.src = "{{base_url}}/assets/preloader.gif");
}

window.addEventListener("load", () => {
    loadPreloaders();
    loadVisibleImages();

    // Try loading newly visible images when scrolling.
    document.addEventListener("scroll", () => loadVisibleImages());
});
