<div id="overlay-menu-screen" class="overlay-menu-screen">
    <div class="overlay-menu">
        <div class="overlay-menu__header">
            <a id="open-overlay-menu" class="header__menu-icon">☰</a>
            <div class="overlay-menu__header__nav">
                <ul>
                    <li id="about-this-site-tab" class="selected">
                        <span class="desktop-nav">About this site</span>
                        <span class="mobile-nav">About</span>
                    </li>
                    <li id="about-the-authors-tab">
                        <div class="desktop-nav">About the authors</div>
                        <div class="mobile-nav">Authors</div>
                    </li>
                    <li id="contact-tab">Contact</li>
                </ul>
            </div>

            <div class="overlay-menu__header__close-icon closeOverlayMenu"><webicon icon="material:close"></webicon></div>

        </div>

        <div class="overlay-menu__content">
            <div id="about-this-site" class="overlay-menu__content__section">
                <h3>Motivation</h3>
                <p>
                With a career that spans over five decades, The Beach Boys have one of the most extensive discographies out there. Listeners typically approach their music through either one of their many Greatest Hits compilations or through their masterpiece 'Pet Sounds'. But most of the time they just scratch the surface and find it hard to know where to go from there, missing amazing albums such as 'The Beach Boys Today!' or 'Sunflower'.
                </p>
                <p>
                As lifelong Beach Boys fans, we thought we could build a better way of exploring The Beach Boys records by focusing on discoverability. The result is a browsing experience that feels like digging through vinyls.
                </p>

                <h3>
                    What makes this site special?
                </h3>
                <ul class="overlay-menu__content__list">
                    <li>It lists all the available editions of each item and specifies what's special about each of them (e.g. previously unreleased tracks).</li>
                    <li>It marks all the <em><strong>Hits</strong></em> from each album.</li>
                    <li>The list of <em><strong>Gems</strong></em> has been curated by Beach Boys connoisseurs.</li>
                    <li>It allows to filter and sort items by different criteria, which is great for discoverability.</li>
                    <li>It's responsive and mobile-friendly.</li>
                </ul>
                <h3>
                    Additional information
                </h3>
                <p>
                <span class="overlay-menu__content__icon">
                    <img src="{{base_url}}/assets/star.svg" alt="Hit"/>
                    HIT
                </span>
                The filled star indicates the song entered the Billboard Hot 100 (regardless of whether it entered any other US or foreign chart).
                </p>
                <p>
                <span class="overlay-menu__content__icon">
                    <img src="{{base_url}}/assets/inthit.svg" alt="International Hit"/>
                    HIT
                </span>
                The outlined star indicates the song entered a US chart other than the Billboard Hot 100 or any other chart around the world.
                </p>
                <p>
                <span class="overlay-menu__content__icon">
                    <img src="{{base_url}}/assets/gem.svg" alt ="Gem"/>
                    GEM
                </span>
                Indicates it's a lesser known track, but generally considered by Beach Boys aficionados as underrated or 'deep cut', having never entered any chart.</p>
                </p>

            </div>

            <div id="about-the-authors" class="overlay-menu__content__section">
                <!-- loads content from authors.html -->
            </div>

            <div id="contact" class="overlay-menu__content__section">
                <h3>Get in touch!</h3>
                <div class="contact-card">
                    <a href="mailto:contact@beachboyslegacy.com">
                        <div class="contact-card__icon"><webicon icon="material:mail"></webicon></div>
                        contact@beachboyslegacy.com
                    </a>
                </div>
                <div class="contact-card">
                    <a href="https://twitter.com/beachboyslegacy" target="_blank">
                        <div class="contact-card__icon"><webicon icon="entypo:twitter"></webicon></div>@beachboyslegacy
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-menu-bg closeOverlayMenu"></div>
</div>
