// Unpacks a locator into its data.
function unpackLocator(locator) {
    var parts = locator.split(":");

    return {
        uniqueId: parts[0],
        name: parts[1],
        artist: parts[2],
        releaseYear: parts[3],
    };
}

// Fetches results for a search term and adds them to results ui.
function fetchResultsForSearch(search, resultsTarget) {
    var terms = search.split(" ")
        .map(word => word.toLowerCase())
        .map(term => term.substring(0, 3));

    var results = [];
    for (term of terms) {
        var request = new XMLHttpRequest();

        request.addEventListener("load", function() {
            results.push(this.responseText.split("\n"));
        });

        request.open("GET", "{{base_url}}/search/" + term + ".txt");
        request.send();
    }

    setTimeout(() => {
        // Remove old results.
        [...resultsTarget.options].map(result => result.remove());

        // Add new results.
        for (result of results.flat().map(locator => unpackLocator(locator))) {
            var resultObject = document.createElement("option");
            resultObject.value = `${result.name} (${result.releaseYear}) - ${result.artist}`;
            resultObject.dataset.url = `{{base_url}}/item/${result.uniqueId}.html`

            resultsTarget.appendChild(resultObject);
        }
    }, 1000);
}

window.addEventListener("load", () => {
    var searchBar = document.getElementById("searchBar");
    var resultsTarget = document.getElementById("results");

    searchBar.addEventListener("change", () => {
        var selectedResults = [
            ...resultsTarget.options
        ].filter(result => result.value === searchBar.value);

        if (selectedResults.length) {
            window.location = selectedResults[0].dataset.url;
        } else if (searchBar.value.length) {
            fetchResultsForSearch(searchBar.value, resultsTarget);
        }
    });
});
