<!doctype html>
<html lang="en">
    <head>
        <title>{{artist_name}}: {{category_name}} - Beach Boys Legacy</title>
        <meta name="description" content="Explore {{category_name}} {{artist_name}} on Beach Boys Legacy.">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="cleartype" content="on">

        <link rel="shortcut icon" href="{{base_url}}/favicon.ico" />
        <link rel="apple-touch-icon" href="{{base_url}}/icon.png"/>
        <link rel="icon" href="{{base_url}}/icon.png"/>

        <link rel="stylesheet" type="text/css" href="{{base_url}}/css/styles.css" />

        <!-- For Facebook -->
        <meta property="og:title" content="{{artist_name}}: {{category_name}} - Beach Boys Legacy"/>
        <meta property="og:description" content="Explore {{category_name}} {{artist_name}} on Beach Boys Legacy."/>

        <!-- for Twitter -->
        <meta name="twitter:title" content="{{artist_name}}: {{category_name}} - Beach Boys Legacy" />
        <meta name="twitter:description" content="Explore {{category_name}} {{artist_name}} on Beach Boys Legacy." />

        {{partials["common_headers.html"]}}
    </head>
    <body>
        <div class="header clearfix">
            <a id="open-overlay-menu" class="header__menu-icon" href="javascript:void(0)" onClick="ga('send', 'event', 'Navigation', 'click', 'Overlay Menu')"><webicon icon="material:menu"/></a>
            <div class="logo">
                <h1>Beach Boys Legacy</h1>
            </div>
            <ul class="header__nav">
                <li><a class="header__nav__patreon-link" href="https://www.patreon.com/beachboyslegacy" target="_blank">Become a Patron</a></li>
                <li><a href="http://twitter.com/beachboyslegacy" target="_blank"><webicon icon="entypo:twitter"></webicon> <span>Follow Beach Boys Legacy on twitter</span></a></li>
            </ul>
        </div>

        <div class="sidebar clearfix">

            <div class="sidebar__body">

                <div class="selector">
                    <div class="selector__title">Artist</div>
                    <div class="selector__current" id="current-artist"><span>The Beach Boys</span><div class="selector__icon"><webicon icon="material:arrow-drop-down"/></div></div>
                    <ul id="artist" class="selector__options clearfix">
                        {% for artist in artists %}
                        <li
                            id="{{artist}}"
                            {{'class="selector__options__current"' if artist == artist_name}}
                        >
                            <a href="{{base_url}}/artists/{{artist}}/categories/Albums.html">
                                {{artist}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="selector">
                    <div class="selector__title">Category</div>
                    <div class="selector__current" id="current-category"><span>Latest</span><div class="selector__icon"><webicon icon="material:arrow-drop-down"/></div></div>
                    <ul id="category" class="selector__options clearfix">
                        {% for category in categories %}
                        <li
                        {% if category == category_name: %}
                        class="selector__options__current"
                        {% endif %}
                        >
                            <a
                                style="text-decoration:none"
                                href="{{base_url}}/artists/{{artist_name}}/categories/{{category}}.html"
                            >
                                {{category}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="amazon-banner-wrapper">
                    <div id="amzn-assoc-ad-3d8cea96-b02c-4fae-9a98-94bdef6ac9cf"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3d8cea96-b02c-4fae-9a98-94bdef6ac9cf"></script>
                </div>
            </div>

            <div class="sidebar__footer">
                <a class="policy-link" href="cookies-policy.html" target="_blank">Cookies Policy</a>
                <a class="policy-link" href="privacy-policy.html" target="_blank">Privacy Policy</a>
            </div>
        </div>

        <div class="main-container">
            <div class="main-container__header clearfix">
                <ul class="sorting clearfix" id="sorting">
                    <li id="sorting-release" class="sorting__current">Release Date<div class="sorting__icon"><webicon icon="entypo:select-arrows"/></div></li>
                </ul>

                <div class="results-number"></div>
            </div>

            <ul class="items">
                {% for item in items%}
                    <li data-date="{{item.parent.releaseYear}}">
                        <a class="item__header" href="{{base_url}}/items/{{item.parent.uniqueId}}.html" style="background-color:{{item.parent.backgroundColor}}" onClick="ga(\x27send\x27, \x27event\x27, \x27Details\x27, \x27click\x27, \x27Latest\x27)">
                            <img class="item__cover lazy" src="{{base_url}}/{{item.parent.image}}" alt="{{item.parent.name}} cover">
                        <div class="item__info">
                            <h2 class="item__title">{{item.parent.name}}</h2>
                            <h3 class="item__subtitle">{{item.parent.alternateName}}</h3>
                            <h3 class="item__year">{{item.parent.releaseYear}}</h3>
                            <div class="wpac-rating-ajax" data-wpac-chan="{{item.parent.uniqueId}}"></div>
                            <div class="item__btn">See details and editions</div>
                        </div>
                      </a>
                    </li>
                {% endfor %}
            </ul>

            {{partials["footers.html"]}}

        </div>

        {{partials["overlay_menu.html"]}}

        <script src="https://embed.widgetpack.com/widget.js" async></script>
        <script type="text/javascript">
            function wpac_ajax_init() {
                            WPac.init({widget: 'Rating', id: 2265, el: 'wpac-rating-ajax'});
                        }
        </script>



        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function(){
                            window.cookieconsent.initialise({
                                            "palette": {
                                                            "popup": {
                                                                            "background": "#000"
                                                                        },
                                                            "button": {
                                                                            "background": "#f1d600"
                                                                        }
                                                        },
                                            "content": {
                                                            "href": "cookies-policy.html"
                                                        }
                                        })});
        </script>







    </body>
</html>


<!-- /nonessential stylesheets -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Oswald&display=swapdisplay=swap" rel="stylesheet">
