<!doctype html>
<head lang="en">
    <meta charset="utf-8">
    <title>Beach Boys Legacy - {{item["parent"]["name"]}}</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <h1>{{item["parent"]["name"]}}</h1>
    {{item["parent"]}}
    {{item["parent"]}}
</body>
