<!doctype html>
<html lang="en">
<head>
<title>{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %} by {{item["parent"]["byArtist"]}}</title>
<meta name="description" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %} ({{item["parent"]["releaseYear"]}}) by {{item["parent"]["byArtist"]}}">


<!-- For Facebook -->
<meta property="og:title" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %} by {{item["parent"]["byArtist"]}}"/>
<meta property="og:description" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %} ({{item["parent"]["releaseYear"]}}) by {{item["parent"]["byArtist"]}}"/>
<meta property="og:image" content="{{base_url}}/{{item["parent"]["image"]}}"/>
<meta property="og:url" content="{{base_url}}/{{item["parent"]["uniqueId"]}}"/>

<!-- for Twitter -->
<meta name="twitter:title" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %} by {{item["parent"]["byArtist"]}}" />
<meta name="twitter:description" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %} ({{item["parent"]["releaseYear"]}}) by {{item["parent"]["byArtist"]}}" />
<meta name="twitter:image" content="{{base_url}}/{{item["parent"]["image"]}}" />

{{partials["common_headers.html"]}}

</head>
<body>

{{partials["item_details_header.html"]}}

<div class="item-details-wrapper">
    <div class="item-details" id="{{item["parent"]["uniqueId"]}}" data-date="{{item["parent"]["releaseYear"]}}">
      <div class="item-details__sidebar" style="background-color:{{item["parent"]["backgroundColor"]}}">
        {% if item.parent.category.single %}
          <img class="item-details__sidebar__cover noshadow" src="{{base_url}}/{{item["parent"]["image"]}}" alt="{{item["parent"]["name"]}} cover">
        {% else %}
          <img class="item-details__sidebar__cover" src="{{base_url}}/{{item["parent"]["image"]}}" alt="{{item["parent"]["name"]}} cover">
        {% endif %}
        <div class="item-details__sidebar__info">
          <h1 class="item-details__sidebar__info__title">{{item["parent"]["name"]}}</h1>
          <h3 class="item-details__sidebar__info__subtitle">{{item["parent"]["alternateName"]}}</h3>

          {% if item.parent.category.studio %}
            <p>Studio Album by {{item["parent"]["byArtist"]}}</p>
          {% endif %}

          {% if item.parent.category.live %}
            <p>Live Album by {{item["parent"]["byArtist"]}}</p>
          {% endif %}

          {% if item.parent.category.compilation %}
            {% if item.parent.category.boxset %}
              <p>{{item["parent"]["byArtist"]}} Box Set</p>
            {% elif item.parent.category.digital %}
              <p>Digital Release by {{item["parent"]["byArtist"]}}</p>
            {% else %}
              <p>{{item["parent"]["byArtist"]}} Compilation</p>
            {% endif %}
          {% endif %}

          {% if item.parent.category.single %}
            <p>Single by {{item["parent"]["byArtist"]}}</p>
          {% endif %}


          {% if item.parent.category.collaboration %}
            <p>{{item["parent"]["byArtist"]}} Collaboration</p>
          {% endif %}

          {% if item.parent.category.bootleg %}
            <p>{{item["parent"]["byArtist"]}} Bootleg</p>
          {% endif %}





          <div class="wpac-rating-ajax" data-wpac-chan="{{item["parent"]["uniqueId"]}}"></div>
          <div class="item-details__sidebar__info__facts">
            {% if item.editions %}
              {% if item.editions[item.editions|length-1].albumRelease.amazonUs %}
                  <a class="item-details__sidebar__info__facts__amazon-link amazonLink" href="{{item["editions"][item.editions|length-1]["albumRelease"]["amazonUs"]}}" target="_blank" onClick="ga(\x27send\x27, \x27event\x27, \x27Amazon\x27, \x27click\x27, \x27Item\x27)">Buy on Amazon</a>  <!-- \x27 is a scaped quote ' -->
                {% endif %}
            {% endif %}
            <p>Released on
              {% if item.parent.releaseMonth == 1 %}
                January
              {% elif item.parent.releaseMonth == 2 %}
                February
              {% elif item.parent.releaseMonth == 3 %}
                March
              {% elif item.parent.releaseMonth == 4 %}
                April
              {% elif item.parent.releaseMonth == 5 %}
                May
              {% elif item.parent.releaseMonth == 6 %}
                June
              {% elif item.parent.releaseMonth == 7 %}
                July
              {% elif item.parent.releaseMonth == 8 %}
                August
              {% elif item.parent.releaseMonth == 9 %}
                September
              {% elif item.parent.releaseMonth == 10 %}
                October
              {% elif item.parent.releaseMonth == 11 %}
                November
              {% elif item.parent.releaseMonth == 12 %}
                December
              {% else %}

              {% endif %}
              {% if item.parent.releaseDay == 0 %}

              {% else %}
                {{item["parent"]["releaseDay"]}},
              {% endif %}
               {{item["parent"]["releaseYear"]}}</p>
            <p>{{item["parent"]["publisher"]}} {{item["parent"]["country"]}} {{item["parent"]["catalogNumber"]}}</p>
            {% if item.parent.producer %}
              <p>Produced by {{item["parent"]["producer"]}}</p>
            {% endif %}
            {% if item.parent.billboardPosition %}
              <p>
                {% if item.parent.billboardPosition|int != 0 %}Chart position: #{% endif %}
                {{item["parent"]["billboardPosition"]}}
              </p>
            {% endif %}
            <p>{{item["parent"]["notes"]}}</p>
          </div>
        </div>
      </div>



      <div class="item-details__body">

        <div id="amzn-assoc-ad-3d8cea96-b02c-4fae-9a98-94bdef6ac9cf"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3d8cea96-b02c-4fae-9a98-94bdef6ac9cf"></script>

        {% if item.parent.track %}
        <h3 class="item-section-title">Tracklist</h3>
        <div class="parent-item__tracklist">
          <table>
            <tbody>

              <tr>
                <td>Title</td>
                <td></td>
                <td>Composer</td>
              </tr>


                {% for element in item["parent"]["track"]["itemListElement"] %}


                {% if item.parent.numberOfDiscs and item.parent.numberOfDiscs > 1 %}
                  {% if element.item.trackNumber == 1 %}
                     <tr class="discnumber"><td colspan="3">Disc {{element["item"]["disc"]}}</td></tr>
                  {% endif %}
                {% endif %}


                  {% if element.item.hit %}
                    <tr>
                      <td><div class="tracknumber">{{element["item"]["trackNumber"]}}</div>{{element["item"]["name"]}}</td>
                      <td class="hit-or-gem"><img src="{{base_url}}/assets/star.svg" alt="Hit" title="Hit"/> HIT</td>
                      <td>{{element["item"]["composer"]}}</td>
                    </tr>
                  {% elif element.item.inthit %}
                    <tr>
                      <td><div class="tracknumber">{{element["item"]["trackNumber"]}}</div>{{element["item"]["name"]}}</td>
                      <td class="hit-or-gem"><img src="{{base_url}}/assets/inthit.svg" alt="International Hit" title="International Hit"/>HIT</td>
                      <td>{{element["item"]["composer"]}}</td>
                    </tr>
                  {% elif element.item.gem %}
                    <tr>
                      <td><div class="tracknumber">{{element["item"]["trackNumber"]}}</div>{{element["item"]["name"]}}</td>
                      <td class="hit-or-gem"><img src="{{base_url}}/assets/gem.svg" alt="Gem" title="Gem"/> GEM</td>
                      <td>{{element["item"]["composer"]}}</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td><div class="tracknumber">{{element["item"]["trackNumber"]}}</div>{{element["item"]["name"]}}</td>
                      <td></td>
                      <td>{{element["item"]["composer"]}}</td>
                    </tr>
                  {% endif %}

                {% endfor %}


            </tbody>
          </table>
        </div>
        {% endif %}



        {% if item.parent.reviews %}
          <h3 class="item-section-title">Reviews</h3>
          <ul class="item-reviews">
          {% for element in item["parent"]["reviews"] %}
            <li class="item-review">
              <p class="item-review__text">{{element["review"]["reviewText"]}}</p>
              <a href="{{element["review"]["reviewAuthorLink"]}}" target="_blank">
                {% if element.review.reviewAuthorPic %}
                  <img class="item-review__author-pic" src="{{element["review"]["reviewAuthorPic"]}}" alt="{{element["review"]["reviewAuthor"]}} photo"/>
                {% endif %}
                {{element["review"]["reviewAuthor"]}}
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}


          {% if item.editions %}
          <h3 class="item-section-title">Editions</h3>
          <ul class="child-items">
            {% for element in item["editions"] %}
              <li>
                <div class="child-item__header">
                  <h3 class="child-item__title">
                    {{element["albumRelease"]["name"]}}{% if element.albumRelease.alternateName %}: {{element["albumRelease"]["alternateName"]}}{% endif %}
                  </h3>
                  <ul class="child-item__info">
                    <li>
                      {% if element.albumRelease.releaseMonth == 1 %}
                        January
                      {% elif element.albumRelease.releaseMonth == 2 %}
                        February
                      {% elif element.albumRelease.releaseMonth == 3 %}
                        March
                      {% elif element.albumRelease.releaseMonth == 4 %}
                        April
                      {% elif element.albumRelease.releaseMonth == 5 %}
                        May
                      {% elif element.albumRelease.releaseMonth == 6 %}
                        June
                      {% elif element.albumRelease.releaseMonth == 7 %}
                        July
                      {% elif element.albumRelease.releaseMonth == 8 %}
                        August
                      {% elif element.albumRelease.releaseMonth == 9 %}
                        September
                      {% elif element.albumRelease.releaseMonth == 10 %}
                        October
                      {% elif element.albumRelease.releaseMonth == 11 %}
                        November
                      {% elif element.albumRelease.releaseMonth == 12 %}
                        December
                      {% else %}

                      {% endif %}

                      {% if element.albumRelease.releaseDay == 0 %}

                      {% else %}
                        {{element["albumRelease"]["releaseDay"]}},
                      {% endif %}
                      {{element["albumRelease"]["releaseYear"]}}
                    </li>
                    {% if element.albumRelease.recordLabel %}
                      <li>{{element["albumRelease"]["recordLabel"]}}</li>
                    {% endif %}
                    {% if element.albumRelease.country %}
                      <li>{{element["albumRelease"]["country"]}}</li>
                    {% endif %}
                    {% if element.albumRelease.catalogNumber %}
                      <li>{{element["albumRelease"]["catalogNumber"]}}</li>
                    {% endif %}
                    {% if element.albumRelease.musicReleaseFormat %}
                      <li>{{element["albumRelease"]["musicReleaseFormat"]}}</li>
                    {% endif %}
                  </ul>

              </div>
              <div class="child-item__body">
                <div class="child-item__sidebar">
                  <div class="sticky-content">
                    <a href="{{element["albumRelease"]["amazonUs"]}}" class="amazonLink" target="_blank"><img class="child-item__cover" src="{{base_url}}/{{element["albumRelease"]["image"]}}" alt="{{element["albumRelease"]["name"]}} cover"></a>
                    {% if element.albumRelease.amazonUs %}
                    <a class="child-item__buy amazonLink" href="{{element["albumRelease"]["amazonUs"]}}" target="_blank" onClick="ga(\x27send\x27, \x27event\x27, \x27Amazon\x27, \x27click\x27, \x27Item\x27)">Buy on Amazon</a>  <!-- \x27 is a scaped quote ' -->
                    {% endif %}
                  </div>
                </div>
                <div class="child-item__tracklist">
                  <pre>{{element["albumRelease"]["tracklist"]}}</pre>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul><!-- /child-items -->
        {% endif %}

      </div>
    </div> <!-- /item__details -->
  </div> <!-- /item__details__wrapper -->
  {{partials["footers.html"]}}
</body>
{{partials["post_scripts.html"]}}
</html>
