<!doctype html>
<html lang="en">
<head>
<title>{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %}</title>
<meta name="description" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %}. {{item["parent"]["releaseYear"]}} book written by {{item["parent"]["author"]["name"]}}.">

<!-- For Facebook -->
<meta property="og:title" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %}"/>
<meta property="og:description" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %}. {{item["parent"]["releaseYear"]}} book written by {{item["parent"]["author"]["name"]}}.">
<meta property="og:image" content="https://beachboyslegacy.com/{{item["parent"]["image"]}}"/>
<meta property="og:url" content="https://beachboyslegacy.com/items/{{item["parent"]["uniqueId"]}}"/>

<!-- for Twitter -->
<meta name="twitter:title" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %}" />
<meta name="twitter:description" content="{{item["parent"]["name"]}}{% if item.parent.alternateName %}: {{item["parent"]["alternateName"]}}{% endif %}. {{item["parent"]["releaseYear"]}} book written by {{item["parent"]["author"]["name"]}}.">
<meta name="twitter:image" content="https://beachboyslegacy.com/{{item["parent"]["image"]}}" />

{{partials["common_headers.html"]}}

</head>
<body>

{{partials["item_details_header.html"]}}

<div class="item-details-wrapper">
    <div class="item-details" id="{{item["parent"]["uniqueId"]}}" data-date="{{item["parent"]["releaseYear"]}}">
      <div class="item-details__sidebar" style="background-color:{{item["parent"]["backgroundColor"]}}">
        <img class="item-details__sidebar__cover item-details__sidebar__cover--portrait" src="../../{{item["parent"]["image"]}}" alt="{{item["parent"]["name"]}} cover">
        <div class="item-details__sidebar__info">
          <h1 class="item-details__sidebar__info__title">{{item["parent"]["name"]}}</h1>
          <h3 class="item-details__sidebar__info__subtitle">{{item["parent"]["alternateName"]}}</h3>

          {% if item.parent.category.book %}
            <p>Book</p>
          {% endif %}

          <div class="wpac-rating-ajax" data-wpac-chan="{{item["parent"]["uniqueId"]}}"></div>
          <div class="item-details__sidebar__info__facts">
            {% if item.editions %}
              {% if item.editions[item.editions|length-1].amazonUs %}
                <a class="item-details__sidebar__info__facts__amazon-link amazonLink" href="{{item["editions"][item.editions|length-1]["amazonUs"]}}" target="_blank" onClick="ga(\x27send\x27, \x27event\x27, \x27Amazon\x27, \x27click\x27, \x27Item\x27)">Buy on Amazon</a>  <!-- \x27 is a scaped quote ' -->
              {% endif %}
            {% endif %}
            <p>Released on
              {% if item.parent.releaseMonth == 1 %}
                January
              {% elif item.parent.releaseMonth == 2 %}
                February
              {% elif item.parent.releaseMonth == 3 %}
                March
              {% elif item.parent.releaseMonth == 4 %}
                April
              {% elif item.parent.releaseMonth == 5 %}
                May
              {% elif item.parent.releaseMonth == 6 %}
                June
              {% elif item.parent.releaseMonth == 7 %}
                July
              {% elif item.parent.releaseMonth == 8 %}
                August
              {% elif item.parent.releaseMonth == 9 %}
                September
              {% elif item.parent.releaseMonth == 10 %}
                October
              {% elif item.parent.releaseMonth == 11 %}
                November
              {% elif item.parent.releaseMonth == 12 %}
                December
              {% else %}

              {% endif %}
              {% if item.parent.releaseDay == 0 %}

              {% else %}
                {{item["parent"]["releaseDay"]}},
              {% endif %}
               {{item["parent"]["releaseYear"]}}</p>

            {% if item.parent.author.name %}
              <p>Written by {{item["parent"]["author"]["name"]}}</p>
            {% endif %}
            <p>{{item["parent"]["notes"]}}</p>
          </div>
        </div>
      </div>



      <div class="item-details__body">

        <div id="amzn-assoc-ad-3d8cea96-b02c-4fae-9a98-94bdef6ac9cf"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=3d8cea96-b02c-4fae-9a98-94bdef6ac9cf"></script>


        {% if item.parent.reviews %}
          <h3 class="item-section-title">Reviews</h3>
          <ul class="item-reviews">
          {% for element in item["parent"]["reviews"] %}
            <li class="item-review">
              <p class="item-review__text">{{element["review"]["reviewText"]}}</p>
              <a href="{{element["review"]["reviewAuthorLink"]}}" target="_blank">
                {% if element.review.reviewAuthorPic %}
                  <img class="item-review__author-pic" src="{{element["review"]["reviewAuthorPic"]}}" alt="{{element["review"]["reviewAuthor"]}} photo"/>
                {% endif %}
                {{element["review"]["reviewAuthor"]}}
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}


        {% if item.editions %}
        <h3 class="item-section-title">Editions</h3>
        <ul class="child-items">

          {% for element in item["editions"] %}

            <li>
              <div class="child-item__header">
                <h3 class="child-item__title">
                  {{element["name"]}}{% if element.alternateName %}: {{element["alternateName"]}}{% endif %}
                </h3>
                <ul class="child-item__info">
                  <li>
                    {% if element.releaseMonth == 1 %}
                      January
                    {% elif element.releaseMonth == 2 %}
                      February
                    {% elif element.releaseMonth == 3 %}
                      March
                    {% elif element.releaseMonth == 4 %}
                      April
                    {% elif element.releaseMonth == 5 %}
                      May
                    {% elif element.releaseMonth == 6 %}
                      June
                    {% elif element.releaseMonth == 7 %}
                      July
                    {% elif element.releaseMonth == 8 %}
                      August
                    {% elif element.releaseMonth == 9 %}
                      September
                    {% elif element.releaseMonth == 10 %}
                      October
                    {% elif element.releaseMonth == 11 %}
                      November
                    {% elif element.releaseMonth == 12 %}
                      December
                    {% else %}

                    {% endif %}

                    {% if element.releaseDay == 0 %}

                    {% else %}
                      {{element["releaseDay"]}},
                    {% endif %}

                    {{element["releaseYear"]}}
                  </li>
                  {% if element.publisher %}
                    <li>{{element["publisher"]}}</li>
                  {% endif %}
                  {% if element.country %}
                    <li>{{element["country"]}}</li>
                  {% endif %}
                  {% if element.bookFormat %}
                    <li>{{element["bookFormat"]}}</li>
                  {% endif %}
                  {% if element.numberOfPages %}
                    <li>{{element["numberOfPages"]}} pages</li>
                  {% endif %}
                  {% if element.isbn %}
                    <li>ISBN: {{element["isbn"]}}</li>
                  {% endif %}
                </ul>
              </div>
              <div class="child-item__body">
                <div class="child-item__sidebar">
                  <div class="sticky-content">
                    <a href="{{element["amazonUs"]}}" class="amazonLink" target="_blank"><img class="child-item__cover" src="../../{{element["image"]}}" alt="{{element["name"]}} cover"></a>
                    {% if element.amazonUs %}
                    <a class="child-item__buy amazonLink" href="{{element["amazonUs"]}}" target="_blank" onClick="ga(\x27send\x27, \x27event\x27, \x27Amazon\x27, \x27click\x27, \x27Item\x27)">Buy on Amazon</a>  <!-- \x27 is a scaped quote ' -->
                    {% endif %}
                  </div>
                </div>
                <div class="child-item__book-review">
                  <pre>{{element["review"]}}</pre>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul><!-- /child-items -->
        {% endif %}
      </div>
    </div> <!-- /item__details -->
  </div> <!-- /item__details__wrapper -->
  {{partials["footers.html"]}}
</div>
</body>
{{partials["post_scripts.html"]}}
</html>
