@sans-serif-font: 'Lato', sans-serif;
@serif-font: @sans-serif-font;

@v-unit: 44px;

@mobile-bp: 700px;
@tablet-bp: 900px;

@blue-light: #40a7c7; //#739ca9;
@blue-dark: #3d4b61;
@blue-lighter: #98d5e8;

@grey-lightest: #fafafa;
@grey-lighter: #f0f0f0;
@grey-light: #929799;
@grey: #666578;
@grey-dark: #41404c;


@amazon: #F8981D; //yellow
@yellow: @amazon;
@red: #e84f5a;

@bg: @grey-lighter;
