@sans-serif-font: 'Roboto', sans-serif;
@serif-font: 'Roboto Slab', sans-serif;

@v-unit: 44px;

@mobile-bp: 700px;
@tablet-bp: 900px;

@blue-light: #4565A1;
@blue-dark: #19328a;
@blue-lighter: #BECDE9;

@grey-lightest: #f8fbfc;
@grey-lighter: #e6f0f4;
@grey-light: #a2bfcd;
@grey: #5c7b8a;
@grey-dark: #3e6274;


@amazon: #F8981D; //yellow
@yellow: @amazon;
@red: #e84f5a;

@bg: @grey-lighter;
